body{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    margin: 0;
}
section{
    padding: 25px 150px;
}
#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}
#logo{
    width: 100%;
}
header{
    margin-bottom: 3.5rem;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 190px;
    margin-left: 25px;
    font-weight: 600;
    flex: 1;

}
.nav-home{
    margin-top:'25px';
}
.nav-word{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    min-width: 60%;
}
.nav-word a{
    margin-right: 20px;
    margin-top: 10px;
}
.banner {
    position: fixed!important;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(238, 97, 97);
    justify-content: center;
    position: sticky;
    align-items: center;
    height: 30px;
    font-size: 14px;
  }
.scrollToUp{
    width: 90%;
    text-align: right;
}
.scrollToUp::before{
   content: "A";
}

.img-float{
    width:100%;
     height:auto;
     padding:0;
}
.float.left{
    float:left; 
    
}
img{
    width: 100%;
    height: auto;
    padding-right:10px
}
.circle{
    border-radius: 50%;
    padding: 0%;
    width: 25%;
}
.text, #about p { 
    text-align:justify;
    font-size:1;
    margin-bottom: 1rem;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}
.column{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
    
}



@media screen and (max-width:600px){
    section {
        padding: 25px 50px;
    }
    .banner{
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }
    .circle {
        width: 50%;
    }
}